/**
*@author Francisco Junior
*@author Edilson Ricardo
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

/* CSS reset */
* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}


#main-section {
    height: 100vh;
}

header {


    padding: 20px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.11);
    /* position: fixed; */

}


h1 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #6358DC;
    font-weight: 900;

}

a {
    text-decoration: none;
    font-size: 17px;
    color: #3c3c3c;
    ;
}



#check {
    display: none;
}


li a:hover {
    color: #6358DC;
}

label {
    font-size: 40px;
    color: #6358DC;
}

@media(min-width:375px) {


    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        position: fixed;
        top: 90px;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        will-change: transform, opacity;
        transition: transform .3s ease-in-out, opacity;
        z-index: 3;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;






    }


    #check:checked~ul {

        opacity: 1;
        transform: translateY(0);
        visibility: visible;

    }



    li {
        padding: 10px;
        background-color: #f4f0ff;
    }

    ul li:first-child {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.11);
    }

}


@media(min-width:1200px) {


    #check {
        display: none;

    }

    label {
        display: none;
    }

    ul {
        display: none;
    }

    header {
        padding-left: 100px;
        padding-right: 100px;
    }

    main {

        display: flex;
        padding: 0px 70px 70px;
        align-items: center;
        justify-content: center;
        height: 100%;

    }

    .container {

        display: flex;
        align-items: center;
        gap: 40px;

    }


    .container h2 {
        font-size: 50px;
        color: #3c3c3c;
    }

    .container h4 {
        font-size: 24px;
        font-weight: normal;
        color: #3c3c3c;
    }

    span {

        color: #6358DC;
    }

    #buttons {
        margin-top: 10%;
    }

    .buttom {

        padding: 12px 18px;
        border: 1px solid #5632AF;
        color: #5632AF;
        border-radius: 50px;


    }

    .btn {
        background-color: #6358DC;
        margin-left: 15px;
        color: white;
    }

    #div-img img {
        border-radius: 50px;
        overflow: hidden;
    }


}